@font-face {
    font-family: Neucha;
    src:url("fonts/Neucha-Regular.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

:focus {
    outline: none !important;
}

.error {
    background: #e28e94;
}

.nav {
    display: flex;
    height: 60px;
    background: linear-gradient(60deg, #ffffff, #f5f5f5);
    border-bottom: 1px solid #dcdcdc;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.logo {
    height: 40px;
    margin: 10px 20px 10px 20px;
}

.settings {
    margin: 10px 20px 10px auto;
}

.settings .ivu-icon {
    font-size: 25px;
}

.credits {
    margin-top: 50px;
    color: cornsilk;
}

.credits a {
    color: cornsilk;
}

body {
    background: #F5F5F5;
}

.iSelect {
    margin: 10px;
}

.iSwitch {
    margin: 10px;
}

.iSliderRow {
    margin-top: 10px;
}

.iSlider {
    margin-top: -7px;
}

.iCheckbox {
    margin: 10px;
}

.iColorPicker {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.iSliderRow .iCheckbox {
    margin-top: -7px;
    margin-left: 20px;
}

#metronomeView {
    display: block;
    margin: 0 auto;
}

#metronomeBtn {
    display: block;
    margin: 20px auto;
}

#scoreWrap {
    display: flex;
    justify-content: center;
}

#chordPanel {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.preferChord {
    margin-top: -5px;
    color: #000011;
    font-family: Neucha;
}

.secondaryChord {
    margin-top: 1px;
    color: #666666;
    font-family: Neucha;
}

.preferChordRoma {
    margin-left: 20px;
}

.secondaryChordRoma {
    margin-left: 20px;
}

/* Piano Wrapper */
#p-wrapper {
    overflow-x: auto;
    position: absolute;
    bottom: 0;
    padding-left: 20px;
}

#sustainPanel {
    display: flex;
    /*justify-content: right;*/
    /*margin-right: 80px;*/
}

#sustainCircle {
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 50%;
}

#sustainText {
    width: auto;
    height: 12px;
    margin-left: 5px;
    font-size: 12px;
    line-height: 12px;
}

/* Tuts */
ul#piano {
    display: inline-block;
    height: calc(100vw * 240 / 2560);
    overflow: auto;
}

ul#pianoNote {
    display: inline-block;
    height: calc(100vw * 20 / 2560);
}

ul#piano li {
    list-style: none;
    float: left;
    display: inline;
    background: #aaa;
    position: relative;
}

ul#pianoNote li {
    list-style: none;
    float: left;
    display: inline;
    background: rgba(0, 0, 0, 0);
    position: relative;
}

ul#piano li a, ul#piano li div.anchor {
    display: block;
    height: calc(100vw * 220 / 2560);
    background: #fff;
    background: -webkit-linear-gradient(-30deg, #f5f5f5, #fff);
    background: -moz-linear-gradient(-30deg, #f5f5f5, #fff);
    background: -ms-linear-gradient(-30deg, #f5f5f5, #fff);
    background: -o-linear-gradient(-30deg, #f5f5f5, #fff);
    background: linear-gradient(-30deg, #f5f5f5, #fff);
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0px #fff, inset 0 -1px 0px #fff, inset 1px 0px 0px #fff, inset -1px 0px 0px #fff, 0 4px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0 1px 0px #fff, inset 0 -1px 0px #fff, inset 1px 0px 0px #fff, inset -1px 0px 0px #fff, 0 4px 3px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 1px 0px #fff, inset 0 -1px 0px #fff, inset 1px 0px 0px #fff, inset -1px 0px 0px #fff, 0 4px 3px rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

ul#piano li a:active, ul#piano li div.anchor:active {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    top: 2px;
    height: calc(100vw * 216 / 2560);
}

ul#piano li a:active:before, ul#piano li div.anchor:active:before {
    content: "";
    width: 0px;
    height: 0px;
    border-width: calc(100vw * 216 / 2560) calc(100vw * 5 / 2560) 0px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0px;
    top: 0px;
}

ul#piano li a:active:after, ul#piano li div.anchor:active:after {
    content: "";
    width: 0px;
    height: 0px;
    border-width: calc(100vw * 216 / 2560) calc(100vw * 5 / 2560) 0px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* Black Tuts */
ul#piano li span {
    position: absolute;
    top: 0px;
    height: calc(100vw * 140 / 2560);
    background: #333;
    background: -webkit-linear-gradient(-20deg, #333, #000, #333);
    background: -moz-linear-gradient(-20deg, #333, #000, #333);
    background: -ms-linear-gradient(-20deg, #333, #000, #333);
    background: -o-linear-gradient(-20deg, #333, #000, #333);
    background: linear-gradient(-20deg, #333, #000, #333);
    z-index: 10;
    border-width: 1px 2px 7px;
    border-style: solid;
    border-color: #666 #222 #111 #555;
    -webkit-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

ul#pianoNote li span {
    position: absolute;
    top: 0px;
    height: 20px;
    background: rgba(0, 0, 0, 0);
}

ul#piano li span:active {
    border-bottom-width: 2px;
    height: calc(100vw * 143 / 2560);
    -webkit-box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 0.4), 0 1px 0px rgba(0, 0, 0, 0.8), 0 2px 2px rgba(0, 0, 0, 0.4), 0 -1px 0px #000;
    -moz-box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 0.4), 0 1px 0px rgba(0, 0, 0, 0.8), 0 2px 2px rgba(0, 0, 0, 0.4), 0 -1px 0px #000;
    box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 0.4), 0 1px 0px rgba(0, 0, 0, 0.8), 0 2px 2px rgba(0, 0, 0, 0.4), 0 -1px 0px #000;
}

ul#piano li li {
    width: calc(100vw * 170 / 2560);
    height: auto;
    display: block;
    float: none;
    background: transparent;
}

ul#piano li li a, ul#piano li li a:active {
    height: auto;
    display: block;
    padding: calc(100vw * 10 / 2560) calc(100vw * 15 / 2560);
    background: #333;
    font: normal 12px Arial, Sans-Serif;
    color: #fff;
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #444 transparent #222 transparent;
    top: 0px;
    margin-top: 0px;
}

ul#piano li li a:active:before, ul#piano li li a:active:after {
    border: none !important;
}

ul#piano li:hover ul, ul#piano li:hover #search, ul#piano li:hover #contact {
    visibility: visible;
    opacity: 1;
    margin-top: calc(100vw * 15 / 2560);
}

ul#piano li li a:hover {
    background: #111;
    border-top-color: #222;
    border-bottom-color: #000;
}

.blackKey {
    width: 100%;
    height: 100%;
    font-size: 8px;
    color: rgb(0, 0, 0, 0);
    text-align: center;
    margin: auto auto 20px;
}

.whiteKey {
    width: 100%;
    height: 100%;
    font-size: 8px;
    color: rgb(0, 0, 0, 0);
    text-align: center;
    margin: auto auto 20px;
}

.clear {
    clear: both;
}


/* Animation */
@-webkit-keyframes taufik {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes taufik {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes taufik {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}