<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chordetect</title>

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="css/piano.css" />
    <link rel="stylesheet" type="text/css" href="css/iview.css" />

    <script src="js/webmidi.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vexflow.js"></script>
    <script src="js/MIDI.js"></script>
    <script src="js/base64-binary.js"></script>
    <script src="js/iview.min.js"></script>
    <script src="i18n/i18nMessages.js"></script>
    <script src="js/vue-i18n.min.js"></script>
</head>
<body>

<div id="app">

    <i-button type="primary" @click="modalSetting = true" ghost icon="logo-facebook">{{ $t('settings') }}</i-button>
    <Modal v-model="modalSetting" draggable sticky scrollable :mask="false" :title="$t('settings')" :footer-hide="true">
        <i-tabs type="card">
            <i-tab-pane :label="$t('display')" name="tab1">
                <span>{{ $t('keyColor') }}</span>:
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ $t('releaseSustain') }}
                <i-color-picker class="iColorPicker" v-model="keyColorReleaseSustain" format="hsl"></i-color-picker>
                &nbsp;&nbsp;&nbsp;{{ $t('holdSustain') }}
                <i-color-picker class="iColorPicker" v-model="keyColorHoldSustain" format="hsl"></i-color-picker>
                <Checkbox class="iCheckbox" v-model="colorfulCheckbox" border>{{ $t('colorful') }}</Checkbox>
                <br>
                <span>{{ $t('keySignature') }}</span>:
                <i-select class="iSelect" v-model="modelKeySignature" style="width: auto" @on-change="keySignatureChange($event)">
                    <i-option v-for="item in keyList" :value="item" :key="item">{{ item }}</i-option>
                </i-select>
                <br>
                <span>{{ $t('language') }}</span>:
                <i-select class="iSelect" v-model="modelLanguage" style="width: auto" @on-change="languageChange($event)">
                    <i-option v-for="item in languageList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                </i-select>
                <br>
                <span>{{ $t('chordDic') }}</span>:
                <i-switch class="iSwitch" v-model="switchChordDic" @on-change="changeSwitchChordDic">
                    <Icon type="md-checkmark" slot="open"></Icon>
                    <Icon type="md-close" slot="close"></Icon>
                </i-switch>
                <br>
                <span>{{ $t('guitarPanel') }}</span>:
                <i-switch class="iSwitch" v-model="switchGuitarPanel" @on-change="changeSwitchGuitarPanel">
                    <Icon type="md-checkmark" slot="open"></Icon>
                    <Icon type="md-close" slot="close"></Icon>
                </i-switch>
                <br>
                <Row class="iSliderRow">
                    <i-col span="6">
                        <span>{{ $t('staffScale') }}</span>:
                    </i-col>
                    <i-col span="17">
                        <Slider class="iSlider" v-model="scorePanelScale" :step="0.1" :min="0.7" :max="2.5" @on-change="scorePanelScaleChange()"></Slider>
                    </i-col>
                </Row>
                <br>
                <p>和弦升降号设置，默认跟随调式</p>
            </i-tab-pane>
            <i-tab-pane label="MIDI" name="tab2">
                <p>midi输入选择</p>
            </i-tab-pane>
            <i-tab-pane :label="$t('audio')" name="tab3">
                <p>音量大小设置/禁音</p>
                <p>音源</p>
                <p>节拍器</p>
            </i-tab-pane>
            <i-tab-pane :label="$t('other')" name="tab4">
                <p>帮助文档</p>
                <p>github地址</p>
                <p>捐献</p>
            </i-tab-pane>
        </i-tabs>
    </Modal>
    <Modal v-model="modalChordDic" draggable sticky scrollable :mask="false" :title="$t('chordDic')" :footer-hide="true" @on-visible-change="changeModalChordDic">

    </Modal>
    <Modal v-model="modalGuitarPanel" draggable sticky scrollable :mask="false" :title="$t('guitarPanel')" :footer-hide="true" @on-visible-change="changeModalGuitarPanel">

    </Modal>

    <div v-if="errorMessage" class="error">{{ errorMessage }}</div>
    <div v-else-if="midiInput == null">Looking for an input MIDI device…</div>
    <div v-if="midiInput != null" class="settings">
        <label for="midi-input">Midi Input:</label>
        <select id="midi-input" v-model="selectedMidiInputId">
            <option v-for="input in WebMidi.inputs" :value="input.id" :key="input.id">{{ input.name }}</option>
        </select>
    </div>
<!--    <div class="credits">-->
<!--        <a href="https://github.com/huangxd-/WebChordieApp">WebChordieApp</a>-->
<!--        by-->
<!--        <a href="https://github.com/huangxd-">@huangxd-</a>-->
<!--        <br>-->
<!--        <a href="https://github.com/huangxd-/WebChordieApp/blob/main/README.md">FAQ</a>-->
<!--    </div>-->
    <div id="scoreWrap" :style="{margin: scoreMarginLeft}">
        <div id="scorePanel"></div>
        <div id="chordPanel" :style="{width: chordPanelWidth, height: chordPanelHeight}">
            <span id="preferChord" :style="{'font-size': preferChordFontSize}">G7sus4</span>
            <span id="secondaryChord" :style="{'font-size': secondaryChordFontSize}">Cmaj7</span>
        </div>
    </div>
    <div id="p-wrapper">
        <div id="sustainPanel">
            <div id="sustainCircle" :style="{backgroundColor: sustainCircleColor}"></div>
            <span id="sustainText">Sustain</span>
        </div>
        <ul id="pianoNote">
            <li v-for="(key, index) in keys" :style="{width: liWidth}">
                <span v-if="isBlackKey(index)" class="key" :style="{width: blackLiWidth, left: blackLiLeft}">
                    <div class="blackKey" :style="velocityCss(key.velocity, index, 'name')">{{ key.name }}</div>
                </span>
                <div v-else class="key anchor">
                    <div class="whiteKey" :style="velocityCss(key.velocity, index, 'name')">{{ key.name }}</div>
                </div>
            </li>
        </ul>
        <ul id="piano">
            <li v-for="(key, index) in keys" :style="{width: liWidth}">
                <span v-if="isBlackKey(index)" class="key" :style="{width: blackLiWidth, left: blackLiLeft}">
                    <div class="blackKey" :style="velocityCss(key.velocity, index, 'color')"></div>
                </span>
                <div v-else class="key anchor">
                    <div class="whiteKey" :style="velocityCss(key.velocity, index, 'color')"></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="js/app.js"></script>

</body>
</html>