<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chordetect</title>

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="css/piano.css" />
    <link rel="stylesheet" type="text/css" href="css/iview.css" />

    <script src="js/webmidi.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vexflow.js"></script>
    <script src="js/MIDI.js"></script>
    <script src="js/base64-binary.js"></script>
    <script src="js/iview.min.js"></script>
</head>
<body>

<div id="app">

    <template>
    <i-button type="primary" @click="modal13 = true" ghost icon="logo-facebook">设置</i-button>
    <Modal v-model="modal13" draggable sticky scrollable :mask="false" title="设置">
        <i-tabs type="card">
            <i-tab-pane label="标签一" name="tab1">
                <Select v-model="model2" size="small" style="width:100px">
                    <Option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</Option>
                </Select>
                <p>ssssssss</p>
                <p>ssssssss</p>
                <p>ssssssss</p>
                <p>ssssssss</p>
                <p>ssssssss</p>
            </i-tab-pane>
            <i-tab-pane label="标签二" name="tab2">标签二的内容</i-tab-pane>
            <i-tab-pane label="标签三" name="tab3">标签三的内容</i-tab-pane>
        </i-tabs>
    </Modal>
    </template>

    <div v-if="errorMessage" class="error">{{ errorMessage }}</div>
    <div v-else-if="midiInput == null">Looking for an input MIDI device…</div>
    <div v-if="midiInput != null" class="settings">
        <label for="midi-input">Midi Input:</label>
        <select id="midi-input" v-model="selectedMidiInputId">
            <option v-for="input in WebMidi.inputs" :value="input.id" :key="input.id">{{ input.name }}</option>
        </select>

        <label for="midi-input">Key:</label>
        <select id="key-input" v-model="keyStr">
            <option v-for="key in keyList" :value="key" :key="key">{{ key }}</option>
        </select>

        <label for="colors">Colors:</label>
        <input type="checkbox" id="colors" v-model.boolean="colors">
    </div>
<!--    <div class="credits">-->
<!--        <a href="https://github.com/huangxd-/WebChordieApp">WebChordieApp</a>-->
<!--        by-->
<!--        <a href="https://github.com/huangxd-">@huangxd-</a>-->
<!--        <br>-->
<!--        <a href="https://github.com/huangxd-/WebChordieApp/blob/main/README.md">FAQ</a>-->
<!--    </div>-->
    <div id="scoreWrap" :style="{margin: scoreMarginLeft}">
        <div id="scorePanel"></div>
        <div id="chordPanel" :style="{width: chordPanelWidth, height: chordPanelHeight}">
            <span id="preferChord">G7sus4</span>
            <span id="secondaryChord">Cmaj7</span>
        </div>
    </div>
    <div id="p-wrapper">
        <div id="sustainPanel">
            <div id="sustainCircle" :style="{backgroundColor: sustainCircleColor}"></div>
            <span id="sustainText">Sustain</span>
        </div>
        <ul id="pianoNote">
            <li v-for="(key, index) in keys" :style="{width: liWidth}">
                <span v-if="isBlackKey(index)" class="key" :style="{width: blackLiWidth, left: blackLiLeft}">
                    <div class="blackKey" :style="velocityCss(key.velocity, index, 'name')">{{ key.name }}</div>
                </span>
                <div v-else class="key anchor">
                    <div class="whiteKey" :style="velocityCss(key.velocity, index, 'name')">{{ key.name }}</div>
                </div>
            </li>
        </ul>
        <ul id="piano">
            <li v-for="(key, index) in keys" :style="{width: liWidth}">
                <span v-if="isBlackKey(index)" class="key" :style="{width: blackLiWidth, left: blackLiLeft}">
                    <div class="blackKey" :style="velocityCss(key.velocity, index, 'color')"></div>
                </span>
                <div v-else class="key anchor">
                    <div class="whiteKey" :style="velocityCss(key.velocity, index, 'color')"></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="js/app.js"></script>

</body>
</html>